.description-container {
    max-width: 600px;
}


.description-title {
    font-size: 1.75rem;
    color: #f0f0f0;
    position: relative;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(120, 120, 120, 0.4);
}

.description-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #e0e0e0;
    margin: 0;
    white-space: pre-line;
}

.description-content {
    padding: 1.5rem;
}
