.icons-container {
    max-width: 600px;
    width: 80%;

}

/* .infiniteIcons-container { */
/* } */

.marquee-wrapper {
    overflow: hidden;
    /* max-width: max(450px, 50vw); */
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
}

.marquee-track {
    display: flex;
    gap: 1.5rem;
    /* Consistent with slideshow spacing */
    animation: scroll 500s linear infinite;
    width: max-content;
}

.marquee-track.even {
    animation: scroll-left 400s linear infinite;
}

.marquee-track.odd {
    animation: scroll-right 400s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}


.container-techIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    min-width: 80px;
    padding: 1rem;
    transition: transform 0.3s ease;
    font-size: 1.5rem;
    color: #f0f0f0;
}


.container-techIcon span {
    font-size: 0.85rem;
    font-weight: 500;
    color: #e0e0e0;
}

.container-techIcon:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.tools-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-section {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #4a4a4a;
}

/* .marquee-wrapper:hover .marquee-track { */
/*     animation-play-state: paused; */
/* } */
