.slideshow-container {
    max-width: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.slideshow-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slideshow-details-button {
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 50%;
    padding: 0.25rem;
}

.slideshow-image-wrapper {
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
    background-color: rgba(30, 30, 30, 0.7);
    border-radius: 16px;
    border: 1px solid rgba(70, 70, 70, 0.5);
    box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.3),
        inset 0 1px 2px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
}

.slideshow-icons-container.visible,
.slideshow-description.visible {
    transform: translateY(0);
}

.slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    transition: all 0.4s ease;
}

.slideshow-icons-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(20, 20, 20, 0.8);
    color: white;
    padding: 8px 1rem;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.slideshow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.slideshow-icon svg {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, color 0.2s ease;
    color: #f0f0f0;
}

.slideshow-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(20, 20, 20, 0.9);
    color: white;
    padding: 0px 1rem;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.slideshow-navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-icon {
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.35rem;
}

.nav-icon:active,
.see-more-btn:active {
    transform: translateY(1px);
}


.see-more-btn {
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    width: 40%;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 24px;
}
