.big-container {
    display: flex;
    flex-direction: column;
}

.big-container h2 {
    text-align: left;
    margin-bottom: 4px;
    padding-left: 20px;
}

.big-container h3 {
    margin: 4px;
    color: #9ca3af;
}
